<div id="comparador-popup" ng-controller="comparadorCTL" ng-show="toggleComparador">
	<p id="close-comparador-cont" >
		<a href="#" id="close-comparador" ng-click="toggleComparador = !toggleComparador"><i class="icon icon-cerrar"></i></a>
	</p>
	<div class="centered-layer">
		<div class="centered-content">
			<h2>COMPARA SERVIDORES PÚBLICOS</h2>
			<div class="container-fluid">
				<form action="/funcionario/comparar" method="GET" ng-submit="validateForm()" id="comparadorForm">
					<div class="col-md-5">
						<p><i class="icon icon-comicion"></i></p>
						<p>
							<input 
							type="text" 
							placeholder="Buscar servidor público"
							onfocus="this.placeholder=''"
							onblur="this.placeholder='Buscar servidor público'"
							ng-model="funcOne"
							typeahead="funcionario as funcionario.nombre_completo for funcionario in funcionariosSearch | filter:$viewValue | limitTo:6 "
							typeahead-min-length='1'
							typeahead-on-select='onSelectPart($item, $model, $label)'
							>
							<input type="hidden" name="first_id" value="{{funcOne.id}}">
						</p>
						<p ng-if="funcOne.id">{{funcionario.cargo_nombre_superior != 0 ? funcionario.cargo_nombre_superior : "no disponible"}}</p>
					</div>
					<div class="col-md-2">
						<div class="circle animated rotateIn"><p><i ng-click="submitForm()" class="icon icon-comparar"></i></p></div>
						<p>
							<input
							type="submit"
					 		ng-disabled="!validateForm()"
					 		value="COMPARAR"
					 		class="custom-button bordered"
					 		>
					 	</p>
					</div>
					<div class="col-md-5">
						<p><i class="icon icon-comicion"></i></p>
						<p>
							<input 
							type="text" 
							placeholder="Buscar servidor público"
							onfocus="this.placeholder=''"
							ng-model="funcTwo"
							onblur="this.placeholder='Buscar servidor público'"
							typeahead="funcionario as funcionario.nombre_completo for funcionario in funcionariosSearch | filter:$viewValue | limitTo:6 "
							typeahead-min-length='1'
							typeahead-on-select='onSelectPart($item, $model, $label)'
							>
							<input type="hidden" name="second_id" value="{{funcTwo.id}}">

						</p>
						<p ng-if="funcTwo.id">{{funcTwo.cargo_nombre_superior}}</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>