<div id="footer">
	<div class="centered-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<a href="/"><img src="/images/viajeslogo.png" alt="logo" class="logo-footer"></a>
				</div>
				<div class="col-sm-7">
					<p>
						<p><a href="#">Diseño y desarrollo web por Spaceshiplabs</a></p>
						<p><a href="#" class="second-link">Aviso legal y privacidad</a> | <a href="#">Contáctanos</a> | <a href="#">Datos abiertos</a></p>
					</p>
				</div>
				<div class="col-sm-2">
					<a href="#" class="social-link"><i class="icon-face"></i></a>
					<a href="#" class="social-link"><i class="icon-twit"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>