<div id="footer">
	<div class="centered-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<a href="/"><img src="/images/viajeslogo.png" alt="logo" class="logo-footer"></a>
				</div>
				<div class="col-sm-7">
					<p>
						<p><a href="http://spaceshiplabs.com/">Diseño y desarrollo web por <strong>Spaceshiplabs</strong></a>, ganadores del <a href="http://ifai.codeandomexico.org/retos/96-reto-viajes-transparentes"><strong>#RetoViajesTransparentes</strong></a> | <a href="/datos">Datos abiertos</a> | <a href="/graficas">Gráficas</a></p>
					</p>
					<p>Instituto Federal de Acceso a la Información y Protección de Datos Insurgentes Sur No. 3211 Col. Insurgentes Cuicuilco, Delegación Coyoacán, C.P. 04530 01 800 TELIFAI <strong><a href="http://www.ifai.mx/">www.ifai.mx</a></strong></p> 
				</div>
				<div class="col-sm-2">
					<a href="https://www.facebook.com/ViajesClaros" class="social-link" target="_blank"><i class="icon-face"></i></a>
					<a href="https://twitter.com/ViajesClaros" class="social-link" target="_blank"><i class="icon-twit"></i></a>
					<p><a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx" target="_blank" class="logo ifai-logo"><img src="/images/ifai.png" alt="logo"></a></p>
				</div>
			</div>
		</div>
	</div>
</div>