<div id="footer">
	<%- partial('comparador') -%>
	<div class="centered-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<a href="/"><img src="/images/viajeslogo.png" alt="logo" class="logo-footer"></a>
				</div>
				<div class="col-sm-7">
					<p>
						<p><a href="#">Diseño y desarrollo web por Spaceshiplabs</a> | <a href="/datos">Datos abiertos</a> | <a href="/graficas">Gráficas</a></p>
					</p>
				</div>
				<div class="col-sm-2">
					<a href="#" class="social-link"><i class="icon-face"></i></a>
					<a href="#" class="social-link"><i class="icon-twit"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>