<div id="header">
	<div class="container">
		<div class="menu">
			<a href="/" class="logo"><img src="/images/viajeslogo.png" alt="logo"></a>
			<form action="/funcionario/search" method="POST" class="search-form">
				<input type="text" name="filtro" id="filtro" placeholder="Buscar servidor público"  onfocus="this.placeholder=''" onblur="this.placeholder='Buscar servidor público'"/>
				<!--<a href="#" class="advanced-search" ng-click="toggleAdvancedSearch = !toggleAdvancedSearch" ng-class="{on : toggleAdvancedSearch}"><span>Busqueda avanzada</span></a>
				<div class="select-inputs" ng-show="toggleAdvancedSearch">
					<select name="#" id="#">
						<option value="">Estado de la Republica</option>
						<option value="0">Aguascalientes</option>
						<option value="1">Baja California</option>
						<option value="2">Baja California Sur</option>
						<option value="3">Campeche</option>
						<option value="4">Chiapas</option>
						<option value="5">Chihuahua</option>
						<option value="6">Coahuila</option>
						<option value="7">Colima</option>
						<option value="8" selected="selected">Distrito Federal</option>
						<option value="9">Durango</option>
						<option value="10">Guanajuato</option>
						<option value="11">Guerrero</option>
						<option value="12">Hidalgo</option>
						<option value="13">Jalisco</option>
						<option value="14">Mexico</option>
						<option value="15">Michoacan</option>
						<option value="16">Morelos</option>
						<option value="17">Nayarit</option>
						<option value="18">Nuevo Leon</option>
						<option value="19">Oaxaca</option>
						<option value="20">Puebla</option>
						<option value="21">Queretaro</option>
						<option value="22">Quintana Roo</option>
						<option value="23">San Luis Potosi</option>
						<option value="24">Sinaloa</option>
						<option value="25">Sonora</option>
						<option value="26">Tabasco</option>
						<option value="27">Tamaulipas</option>
						<option value="28">Tlaxcala</option>
						<option value="29">VICAM</option>
						<option value="30">Veracruz</option>
						<option value="31">Yucatan</option>
						<option value="32">Zacatecas</option>


					</select>
					<select name="#" id="#">
						<option value="">Dependencia</option>
					</select>
				</div>-->
			</form>
			<div class="clear"></div>
		</div>
	</div>
</div>