<div id="header">
	<div class="container">
		<div class="menu">
			<a href="#" class="logo"><strong>Viajes Transparentes</strong> App</a>
			<form action="#" method="POST" class="search-form">
				<input type="text" placeholder="Busca el nombre del servidor publico" />
				<a href="#" class="advanced-search">Busqueda avanzada</a>
			</form>
			<div class="clear"></div>
		</div>
	</div>
</div>