<div id="header">
	<div class="container">
		<div class="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Buscar servidor publico</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>