<div id="header" data-ng-controller="headerCTL">
	<div class="container container-fixed">
		<div class="menu">
			<a href="http://inicio.ifai.org.mx/" class="logo ifai-logo" target="_blank"><img src="/images/ifai.png" alt="logo"></a>
			<a href="/" class="logo viajes-logo"><img src="/images/viajeslogo.png" alt="logo"></a>
			<form action="/funcionario/search" method="POST" class="search-form" >
				<a href="" data-ng-click="toggleSidebar()" title="Comparar" id="comparar-header"><strong><i class="icon icon-comparar"></i> <span>COMPARAR</span></strong></a>
                <script type="text/ng-template" id="funcionariosTextSearch.html">
					<%- partial('../directives/funcionariosTextSearch') -%>
                </script>
                <div funcionarios-text-search redirect-on-click="true"></div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container container-fake">
		<div class="menu">
			<a href="http://inicio.ifai.org.mx/" class="logo ifai-logo"><img src="/images/ifai.png" alt="logo"></a>
			<a href="/" class="logo viajes-logo"><img src="/images/viajeslogo.png" alt="logo"></a>
			<form action="/funcionario/search" method="POST" class="search-form">
				<a href="#" ng-click="toggleComp(scrollTo)" title="Comparar" id="comparar-header"><strong><i class="icon icon-comparar"></i> <span>COMPARAR</span></strong></a>
					<input type="text" />
			</form>
			<div class="clear"></div>
		</div>
	</div>
</div>