<div id="header">
	<div class="container container-fixed">
		<div class="menu">
			<a href="http://inicio.ifai.org.mx/" class="logo ifai-logo"><img src="/images/ifai.png" alt="logo"></a>
			<a href="/" class="logo viajes-logo"><img src="/images/viajeslogo.png" alt="logo"></a>
			<form action="/funcionario/search" method="POST" class="search-form" ng-controller="searchFormCTL">
				<a href="#" ng-click="toggleComp(scrollTo)" title="Comparar" id="comparar-header"><strong><i class="icon icon-comparar"></i> <span>COMPARAR</span></strong></a>
				<input 
					autocomplete="off"
					type="text"
					name="filtro"
					id="filtro"
					placeholder="Buscar servidor público"
					onfocus="this.placeholder=''"
					onblur="this.placeholder='Buscar servidor público'"
					ng-model="func"
					typeahead="funcionario for funcionario in funcionariosAJAX($viewValue) | filter:$viewValue | limitTo: 6"
					typeahead-min-length='1'
					typeahead-on-select='onSelectPart($item, $model, $label)'
                    typeahead-template-url="typeahead-template.html"
					typeahead-focus-first="false"				
				/>

				/>
                <script type="text/ng-template" id="typeahead-template.html">
                    <a tabindex="-1">
                        <span bind-html-unsafe="match.model.nombre_completo | typeaheadHighlight:query"></span>
                        <small bind-html-unsafe="match.model.nombre_puesto"></small>
                    </a>
                </script>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container container-fake">
		<div class="menu">
			<a href="http://inicio.ifai.org.mx/" class="logo ifai-logo"><img src="/images/ifai.png" alt="logo"></a>
			<a href="/" class="logo viajes-logo"><img src="/images/viajeslogo.png" alt="logo"></a>
			<form action="/funcionario/search" method="POST" class="search-form" ng-controller="searchFormCTL">
				<input 
					autocomplete="off"
					type="text"
					name="filtro"
					id="filtro"
					placeholder="Buscar servidor público"
					onfocus="this.placeholder=''"
					onblur="this.placeholder='Buscar servidor público'"
					ng-model="func"
					typeahead="funcionario as labelAC(funcionario) for funcionario in funcionariosAJAX($viewValue) | filter:$viewValue | limitTo: 6"
					typeahead-min-length='1'
					typeahead-on-select='onSelectPart($item, $model, $label)'
					typeahead-focus-first="false"				
				/>
			</form>
			<div class="clear"></div>
		</div>
	</div>
</div>