	<ul class="menu-lateral" ng-controller="lateralCTL">
		<li>
			<a ng-click="toggleComp(scrollTo)" href="#comparador-popup"><i class="icon-comparar"></i></a>
			<p>Comparar</p>
		</li>
		<li>
			<a href="/datos"><i class="icon-descargar"></i></a>
			<p>Descargar datos abiertos</p>
		</li>
		<li>
			<a href="#seccion1"><i class="icon-face"></i></a>
			<p>Facebook</p>
		</li>
		<li>
			<a href="#seccion1"><i class="icon-twit"></i></a>
			<p>Twitter</p>
		</li>

	</ul>
