<div class="modal fade" id="modal-advice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!--<h4 class="modal-title">Aviso</h4>-->
      </div>
      <div class="modal-body">
        <div class="widgetbox">
            <div class="widgetcontent nopadding">
              <p>La plataforma actualmente concentra únicamente información correspondiente a 2014 y se encuentra en proceso de captura de cara al cierre del ejercicio presupuestal correspondiente.</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->