<div class="menu-viaje-container">	
	<ul class="menu-viaje">
		<li>
			<a href="#seccion1"><i class="icon-comicion"></i></a>
			<p>Comisión</p>
		</li>
		<li>
			<a href="#seccion2"><i class="icon-tipodeviaje"></i></a>
			<p>Tipo de viaje</p>
		</li>
		<li>
			<a href="#seccion3"><i class="icon-motivo"></i></a>
			<p>Motivo</p>
		</li>
		<li>
			<a href="#seccion4"><i class="icon-resultados"></i></a>
			<p>Resultados</p>
		</li>
		<li>
			<a href="#seccion5"><i class="icon-viaticos"></i></a>
			<p>Viáticos</p>
		</li>
		<li>
			<a href="#seccion6"><i class="icon-comicion"></i></a>
			<p>Puesto</p>
		</li>
		<li>
			<a href="#seccion7"><i class="icon-moneda"></i></a>
			<p>Tarifa</p>
		</li>
		<li>
			<a href="#seccion8"><i class="icon-tema"></i></a>
			<p>Evento</p>
		</li>
		<li>
			<a href="#seccion9"><i class="icon-actividades"></i></a>
			<p>Actividades realizadas</p>
		</li>
		<li>
			<a href="#seccion10"><i class="icon-vuelos"></i></a>
			<p ng-if="viaje.pasaje_tipo == 'Aéreo'" >Información de vuelo</p>
			<p ng-if="viaje.pasaje_tipo == 'Terrestre'" >Información de viaje</p>
		</li>
		<li>
			<a href="#seccion11"><i class="icon-observaciones"></i></a>
			<p>Observaciones</p>
		</li>
		<div class="clear"></div>
	</ul>
</div>
