<!DOCTYPE html>
<html>
  <head>
    <title>ViajesTransparentes</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/stickyFooter.css">
    <link rel="stylesheet" href="/styles/style-d3.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/bower_components/nvd3/nv.d3.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/MarkerCluster.css">
    <link rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <!--STYLES END-->
  </head>

  <body ng-app="viajesTransparentes">
    <div id="wrap" ><div id="main" class="clearfix"><div id="topBackRepeat">
        <%- partial('global/header') -%>
            <div id='content'>
                <%- body %>
                <div class='clear'></div>
            </div>
        </div>   
        <div class='clear'></div>   
    </div><div class='clear'></div></div>        

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/nvd3/nv.d3.min.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/leaflet.markerclusterer/dist/leaflet.markercluster.js"></script>
    <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/homeController.js"></script>
    <script src="/js/radialProgress.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
