<div id="home">
	<div class="container-fluid" ng-controller="statisticsCTL">
		<div class="row ranks">
            <div class="col-md-6 percentage-rank">
            	<div class="inner-content">
                	<h4><strong>Las aerolineas más usadas</strong><br/>por los servidores públicos</h4>
                	<div class="bar-chart">
						<canvas id="aerolineas-chart" height="300" width="400"></canvas>                		
                	</div>
                </div>
            </div>
		</div>		
	</div>
</div>

