<div id="home">
	<div class="container-fluid" ng-controller="statisticsCTL">
		<div class="row ranks">
            <div class="col-md-6 top-places">
                <carousel interval="5000">
                    <slide  active="slide.active" >
                        <div class="inner-content">
                            <h4><strong>Ciudades Internacionales</strong><br/>más visitadas en viajes de trabajo del IFAI</h4>
                            <ul>
                                <li ng-repeat="ciudad in ciudadesList | filter:{tipo_viaje:'Internacional'} | limitTo:3">
                                    <a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
                                    <p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
                                    <p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
                                </li>
                            </ul>
                        </div>
                    </slide>
                    <slide active="" >
                        <div class="inner-content">
                            <h4><strong>Ciudades Nacionales</strong><br/>más visitadas en viajes de trabajo del IFAI</h4>
                            <ul>
                                <li ng-repeat="ciudad in ciudadesList | filter:{tipo_viale:'!Internacional'} | limitTo:3">
                                    <a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
                                    <p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
                                    <p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
                                </li>
                            </ul>
                        </div>
                    </slide>
                </carousel>
            </div>
		</div>		
	</div>
</div>

