<div id="home">
	<div class="container-fluid" ng-controller="statisticsCTL">
		<div class="row ranks">
            <div class="col-md-6 percentage-rank">
                <carousel interval="6000">
                    <slide  active="slide.active" >
                        <div class="inner-content">
                            <h4><strong>Viajes nacionales e internacionales</strong><br/>de los servidores públicos</h4>
                            <div class="charts-container">
                                <div id="radial-one" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=internacional')"></div>
                                <div id="radial-two" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=nacional')"></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                        </div>
                    </slide>
                    <slide active="" >
                        <div class="inner-content">
                            <h4><strong>Viajes por tipo</strong><br/>de los servidores públicos</h4>
                            <div class="charts-container">
                                <div id="radial-three" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=terrestre')"></div>
                                <div id="radial-four" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=aéreo')"></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
		</div>
	</div>
</div>

