<div id="aviso">
	<div class="centered-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>LEYENDA DE INFORMACIÓN</h1>
					<p>Los datos personales que en su caso nos proporcione serán protegidos conforme a lo dispuesto por la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental, su Reglamento, los Lineamientos de Protección de Datos Personales, publicados en el D.O.F. el 30 de septiembre de 2005, y demás normatividad aplicable. Estos datos serán incorporados y tratados en el sistema denominado “Viajes Claros”, el cual se creó con fundamento en las facultades que otorga al Instituto Federal de Acceso a la Información y Protección de Datos (IFAI) el artículo 33 del Reglamento Interior del Instituto, fracción X. Dicho sistema se encuentra registrado en el <a href="http://persona.ifai.org.mx/persona/welcome.do">Listado de Sistemas de Datos Personales</a> que administra el <a href="http://www.ifai.mx/">IFAI</a>.</p>
					<h3>¿Qué datos personales recabamos y para qué fines?</h3>
					<p>La información que en su caso se recaba de personas físicas consiste en: datos de identidad y contacto, tales como el nombre, número telefónico y correo electrónico.</p>
                    <p>Los datos personales recabados serán utilizados para que el usuario de Viajes Claros reciba actualizaciones de la información derivada de los viajes de trabajo de los servidores públicos del IFAI.</p>
					<h3>Unidad administrativa responsable del sistema</h3>
					<p>La unidad administrativa responsable del sistema es la Dirección General de Tecnologías de la Información del IFAI.</p>
					<h3>¿Dónde puedo ejercer mis derechos ARCO?</h3>
					<p>Usted podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición en las oficinas del IFAI, en Insurgentes Sur No. 3211, Col. Insurgentes Cuicuilco, Delegación Coyoacán, C.P. 04530, o en la página de Internet <a href="https://www.infomex.org.mx">www.infomex.org.mx</a>. Lo anterior se informa en cumplimiento del Decimoséptimo de los Lineamientos de Protección de Datos Personales.</p>
				</div>
			</div>
		</div>
	</div>
</div>