<div id="home">
	<div class="home-content-top" ng-controller="homeCtrl">
		<div class="map-container">
			<a href="#" class="close-arrow close-arrow-header" ng-show="!toggleJumbotron" ng-click="toggleJumbotron = !toggleJumbotron"><img src="/images/flecha-down.png" alt=""></a>
			<%- partial('../global/jumbotron') -%>
			<leaflet center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' event-broadcast="events" ></leaflet>
			<div class="aside" ng-show="toggleSidebar">
				<a href="#" ng-click="toggleSidebar = !toggleSidebar" class="arrow-button"></a>
				<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50" refresh-on-change="someArray">
					<div class="aside-inner-content">
						<h3>Estos son los viajes en: {{mapPlace}}</h3>
						<ul>
                            <li ng-repeat="item in items">
                                <p>Fecha del viaje: <a href="{{'/viaje/' + item.id}}">{{item.fecha_inicio_part | date}}</a></p>
                                <p>Funcionario: <a href="{{'/funcionario/' + item.funcionario.id}}">{{item.funcionario.nombre_completo}}</a></p>
                            </li>

						</ul>
                    </div>
			    </perfect-scrollbar>
			</div>	
		</div>	
		<div class="total-money">
			<h1><span count-to="{{totalGastado}}" value="{{gasto_parcial}}" duration="1" filter="currency"></span></h1>
			<p>Presupuesto gastado en viajes de trabajo durante <strong>2014</strong></p>
			<!-- <p>Presupuesto gastado en viajes desde el <strong>2013</strong> hasta el día de hoy en viajes de <strong>SERVIDORES PÚBLICOS</strong></p> -->
			<!--<a href="#" class="custom-button bordered">Ver todos los viajes</a>-->
		</div>
		<%- partial('../global/modal_home')%>
	</div>
	<div class="centered-content">
		<div class="container-fluid" ng-controller="statisticsCTL">
			<div class="row top-people">
                <carousel interval="6000">
                    <slide  active="slide.active" >
                        <h2>Los tres servidores públicos con <strong class="big"> mayor gasto</strong> en viajes de trabajo </h2>
                        <!-- <h2>Los 3 servidores públicos <br/> con más gastos</strong></h2> -->
                        <div class="col-sm-4 person" ng-repeat="funcionario in funcionariosList | limitTo:3">
                            <div class="person-content">
                                <a href="#" ng-click="compare(funcionario)" class="comparar-button"><i class="icon icon-comparar"></i></a>
                                <img src="/images/funcionario-default.png" alt="" class="picture">
                                <p class="name">{{funcionario.nombre_completo}}</p>
                                <p class="charge">{{funcionario.cargo_nombre != 0 ? funcionario.cargo_nombre : "Puesto no disponible"}}</p>
                                <p class="dependency"><strong>{{funcionario.institucion != 0 ? funcionario.institucion : "No disponible"}}</strong></p>
                                <p class="money" count-to="{{funcionario.gasto_total}}" value="{{gasto_parcial}}" duration="2" filter="currency"></p>
                                <p class="gray">Gastos hasta hoy</p>
                                <a href="/funcionario/{{funcionario.funcionario}}" class="custom-button">Ver perfil</a>
                            </div>
                        </div>
                    </slide>
                    <slide  active="" >
                        <h2>Los tres servidores públicos <br/> con <strong class="big"> más viajes </strong>de trabajo.</h2>
                        <div class="col-sm-4 person" ng-repeat="viaje in viajesCarosList | limitTo:3">
                            <div class="person-content">
                                <a class="comparar-button" ng-click="compare(viaje.funcionario)" href="#" tabindex="0"><i class="icon icon-comparar"></i></a>
                                <img src="/images/funcionario-default.png" alt="" class="picture">
                                <p class="name">{{viaje.funcionario.nombre_completo}}</p>
                                <p class="charge">{{viaje.ciudad_destino}},{{viaje.estado_destino}}</p>
                                <p class="dependency"><strong>{{viaje.pais_destino}}</strong></p>
                                <p class="money">{{viaje.gasto_total | currency}}</p>
                                <a href="/viaje/{{viaje.id}}" class="custom-button">Ver viaje</a>
                            </div>
                        </div>
                    </slide>
                    <slide  active="" >
                        <h2>Los tres últimos viajes de trabajo <strong class="big">en el IFAI</strong></h2>
                        <!-- <h2>Los 3 ultimos <br/> <strong class="big">Viajes</strong></h2> -->
                        <div class="col-sm-4 person" ng-repeat="viaje in ultimosViajesList | limitTo:3">
                            <div class="person-content">
                                <a class="comparar-button" ng-click="compare(viaje.funcionario)" href="#" tabindex="0"><i class="icon icon-comparar"></i></a>
                                <img src="/images/funcionario-default.png" alt="" class="picture">
                                <p class="name">{{viaje.funcionario.nombre_completo}}</p>
                                <p class="charge">{{viaje.ciudad_destino}}, {{viaje.estado_destino}}</p>
                                <p class="dependency"><strong>{{viaje.pais_destino}}</strong></p>
                                <p class="money">{{(viaje.gasto_total && viaje.gasto_total > 0 ? (viaje.gasto_total | currency) : "Pendiente" )}}</p>
                                <a href="/viaje/{{viaje.id}}" class="custom-button">Ver viaje</a>
                            </div>
                        </div>
                    </slide>
				</carousel>
				<div class="clear"></div>
				<div class="col-md-4 col-md-offset-4 view-more"><a href="/funcionario/list" class="custom-button see-all">Ver todos los servidores públicos</a></div>
			</div>
			<div class="row ranks">
				<div class="col-md-6 top-places top-hotels">
					<carousel interval="6000">
                        <slide active="slide.active">
                            <div class="inner-content">
                                <a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" title="Compartir gráfica" ng-click="openWidgetModal('/widget/hoteles')"><i class="icon icon-codigo"></i></a>
                                <h4><strong>Hoteles más visitados</strong><br/>por los servidores públicos</h4>
                                <ul>
                                    <li ng-repeat="hotel in hotelList">
                                        <a><img src="/images/hotel_icon.png" alt="" class="picture" /></a>
                                        <p class="place"><a href="/viaje/search_hotel?filtro={{hotel.hotel}}">{{hotel.hotel}}</a></p>
                                        <p class="location"><a href="#">{{hotel.ciudad_destino}}, {{hotel.pais_destino}}</a></p>
                                    </li>
                                </ul>
                            </div>
                        </slide>
                        <slide active="">
                            <div class="inner-content">
                                <a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" title="Compartir gráfica" ng-click="openWidgetModal('/widget/viajesalmes')"><i class="icon icon-codigo"></i></a>
                                <h4><strong>Viajes de trabajo durante 2014</strong></h4>
                                <div class="bar-chart">
                                    <canvas id="hotels" height="317" width="423"></canvas>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
				</div>
                <div class="col-md-6 percentage-rank">
                    <carousel interval="6000">
                        <slide  active="slide.active" >
                            <div class="inner-content">
                            	<a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" title="Compartir gráfica" ng-click="openWidgetModal('/widget/tipos_de_viajes')"><i class="icon icon-codigo"></i></a>
                                <h4><strong>Viajes nacionales e internacionales</strong></h4>
                                <div class="charts-container">
                                    <div id="radial-one" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=internacional')"></div>
                                    <div id="radial-two" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=nacional')"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                            </div>
                        </slide>
                        <slide active="" >
                            <div class="inner-content">
                            	<a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" ng-click="openWidgetModal('/widget/tipos_de_viajes')" title="Compartir gráfica"><i class="icon icon-codigo"></i></a>
                                <h4><strong>Viajes por tipo</strong><br/> de transportación</h4>
                                <div class="charts-container">
                                    <div id="radial-three" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=terrestre')"></div>
                                    <div id="radial-four" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=aéreo')"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
			</div>
			<div class="row ranks">
                <div class="col-md-6 percentage-rank">
                	<div class="inner-content">
                		<a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" title="Compartir gráfica" ng-click="openWidgetModal('/widget/aerolineas')"><i class="icon icon-codigo"></i></a>
                    	<h4><strong>Las aerolineas más usadas</strong><br/>por los servidores públicos</h4>
                    	<div class="bar-chart">
							<canvas id="aerolineas-chart" height="300" width="400"></canvas>                		
                    	</div>
                    </div>
                </div>
				<div class="col-md-6 top-places">
					<carousel interval="5000">
						<slide  active="slide.active" >
							<div class="inner-content">
								<a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" ng-click="openWidgetModal('/widget/ciudades')" title="Compartir gráfica"><i class="icon icon-codigo"></i></a>
								<h4><strong>Ciudades Internacionales</strong><br/>más visitadas en viajes de trabajo del IFAI</h4>
								<ul>
									<li ng-repeat="ciudad in ciudadesList | filter:{tipo_viaje:'Internacional'} | limitTo:3">
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
										<p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
										<p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
									</li>
								</ul>
							</div>
						</slide>
						<slide active="" >
							<div class="inner-content">
								<a href="#" class="get-iframe" data-toggle="modal" data-target="#modal-code" ng-click="openWidgetModal('/widget/ciudades')" title="Compartir gráfica"><i class="icon icon-codigo"></i></a>
								<h4><strong>Ciudades Nacionales</strong><br/>más visitadas en viajes de trabajo del IFAI</h4>
								<ul>
                                    <li ng-repeat="ciudad in ciudadesList | filter:{tipo_viale:'!Internacional'} | limitTo:3">
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
                                        <p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
                                        <p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
									</li>
								</ul>
							</div>
						</slide>
					</carousel>
				</div>
			</div>
			<div class="row code-links">
				<div class="col-md-2 col-md-offset-4">
					<a href="https://github.com/IFAI/viajes-claros" target="_blank" class="custom-button"><i class="icon icon-github"></i> Github</a>
				</div>
				<div class="col-md-2">
					<a href="https://github.com/IFAI/viajes-claros#api" class="custom-button" target="_blank"><i class="icon icon-codigo"></i> API</a>
				</div>
			</div>
			<%- partial('../global/modal')%>			
		</div>
	</div>
</div>

