<div id="home">
	<div class="home-content-top" ng-controller="homeCtrl">
		<div class="map-container">
			<a href="#" class="close-arrow close-arrow-header" ng-show="!toggleJumbotron" ng-click="toggleJumbotron = !toggleJumbotron"><img src="/images/flecha-down.png" alt=""></a>
			<%- partial('../global/jumbotron') -%>
			<leaflet center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' event-broadcast="events" ></leaflet>
			<div class="aside" ng-show="toggleSidebar">
				<a href="#" ng-click="toggleSidebar = !toggleSidebar" class="arrow-button"></a>
				<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50" refresh-on-change="someArray">
					<div class="aside-inner-content">
						<h3>Estos son los viajes en: {{mapPlace}}</h3>
						<ul>
                            <li ng-repeat="item in items">
                                <p>Fecha del viaje: <a href="{{'/viaje?id=' + item.id}}">{{item.fecha_inicio_com | date}}</a></p>
                                <p>Funcionario: <a href="{{'/funcionario?id=' + item.funcionario.id}}">{{item.funcionario.nombre_completo}}</a></p>
                            </li>

						</ul>
                    </div>
			    </perfect-scrollbar>
			</div>	
		</div>	
		<div class="total-money">
			<h1><span count-to="{{totalGastado}}" value="{{gasto_parcial}}" duration="2" filter="currency"></span></h1>
			<p>Presupuesto gastado en viajes desde el <strong>2013</strong> hasta el día de hoy en viajes de <strong>SERVIDORES PÚBLICOS</strong></p>
		</div>
	</div>
	<div class="centered-content">
		<div class="container-fluid" ng-controller="statisticsCTL">
			<div class="row top-people">
				<h2>Los 3 servidores públicos <br/> <strong class="big">con más gastos de viajes</strong></h2>
				<div class="col-sm-4 person" ng-repeat="funcionario in funcionariosList | limitTo:3">
					<div class="person-content">
						<img src="/images/funcionario-default.png" alt="" class="picture">
						<p class="name">{{funcionario.nombre_completo}}</p>
						<p class="charge">{{funcionario.nombre_puesto != 0 ? funcionario.nombre_puesto : "Puesto no disponible"}}</p>
                        <p class="dependency"><strong>ifai</strong></p>
						<p class="money" count-to="{{funcionario.gasto_total}}" value="{{gasto_parcial}}" duration="2" filter="currency"></p>
						<p class="gray">Gastos hasta hoy</p>
						<a href="/funcionario?id={{funcionario.funcionario}}" class="custom-button">Ver perfil</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row ranks">
				<div class="col-md-6 top-places top-hotels">
					<div class="inner-content">
						<h4><strong>Hoteles más visitados</strong><br/>por los servidores públicos</h4>
						<ul>
							<li ng-repeat="hotel in hotelList">
								<a><img src="/images/hotel_icon.png" alt="" class="picture" /></a>
								<p class="place"><a href="/viaje/search_hotel?filtro={{hotel.hotel}}">{{hotel.hotel}}</a></p>
								<p class="location"><a href="#">{{hotel.ciudad_destino}}, {{hotel.pais_destino}}</a></p>
							</li>
						</ul>
					</div>
				</div>
                <div class="col-md-6 percentage-rank">
                    <carousel interval="6000">
                        <slide  active="slide.active" >
                            <div class="inner-content">
                                <h4><strong>Viajes nacionales e internacionales</strong><br/>de los servidores públicos</h4>
                                <div class="charts-container">
                                    <div id="radial-one" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=internacional')"></div>
                                    <div id="radial-two" class="radial-chart" ng-click="redirectTo('/viaje/searchtipo?filtro=nacional')"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                            </div>
                        </slide>
                        <slide active="" >
                            <div class="inner-content">
                                <h4><strong>Viajes por tipo</strong><br/>de los servidores públicos</h4>
                                <div class="charts-container">
                                    <div id="radial-three" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=terrestre')"></div>
                                    <div id="radial-four" class="radial-chart" ng-click="redirectTo('/viaje/searchmedio?filtro=aéreo')"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <p class="total">Total de viajes hasta la fecha: {{totalViajes}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
			</div>
			<div class="row ranks">
                <div class="col-md-6 percentage-rank">
                    <div class="inner-content">
                    	<h4><strong>Las aerolineas más usadas</strong><br/>por los servidores públicos</h4>
                        <div class="progress" ng-repeat="aerolinea in aerolineasList">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{(aerolinea.total / totalAerolineasVuelos) * 100}}" aria-valuemin="0" aria-valuemax="100"
                                 ng-style="{ 'width': calculateWidth(aerolinea) }">
                                <span>{{aerolinea.linea_origen}}</span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-md-6 top-places">
					<carousel interval="5000">
						<slide  active="slide.active" >
							<div class="inner-content">
								<h4><strong>Ciudades Internacionales</strong><br/>más visitadas por los servidores públicos</h4>
								<ul>
									<li ng-repeat="ciudad in ciudadesList | filter:{tipo_viaje:'Internacional'} | limitTo:3">
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
										<p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
										<p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
									</li>
								</ul>
							</div>
						</slide>
						<slide active="" >
							<div class="inner-content">
								<h4><strong>Ciudades Nacionales</strong><br/>mas visitadas por los servidores públicos</h4>
								<ul>
                                    <li ng-repeat="ciudad in ciudadesList | filter:{tipo_viale:'!Internacional'} | limitTo:3">
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
                                        <p class="place"><a href="/viaje/search_ciudad?filtro={{ciudad.ciudad_destino}}">{{ciudad.ciudad_destino}}</a></p>
                                        <p class="location"><a href="#">{{ciudad.pais_destino}}</a></p>
									</li>
								</ul>
							</div>
						</slide>
					</carousel>
				</div>
			</div>			
		</div>
	</div>
</div>

