<div id="home" class="container">
	<div class="map-container" ng-controller="mapCtrl">
		<h1>Mapa de viajes</h1>
		<!--bounds='bounds' -->
		<leaflet center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' ></leaflet>		
	</div>
	<div class="total">
		<h1><strong>$387,568,355.00</strong></h1>
		<p>Gastos totales de viajes de servidores publicos</p>
	</div>
	<div class="row top-people">
		<div class="col-md-4 person">
			<div class="person-content">
				<p>Nombre</p>
				<p>Cargo</p>
				<p class="money"><strong>$345,000</strong></p>
				<a href="#" class="custom-button">Ver más</a>
			</div>
		</div>
		<div class="col-md-4 person">
			<div class="person-content">
				<p>Nombre</p>
				<p>Cargo</p>
				<p class="money"><strong>$345,000</strong></p>
				<a href="#" class="custom-button">Ver más</a>
			</div>
		</div>
		<div class="col-md-4 person">
			<div class="person-content">
				<p>Nombre</p>
				<p>Cargo</p>
				<p class="money"><strong>$345,000</strong></p>
				<a href="#" class="custom-button">Ver más</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>