.animate-all{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.animate-opacity{
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	-ms-transition: opacity .2s;
	transition: opacity .2s;
}
.animate-width{
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-o-transition: width .2s;
	-ms-transition: width .2s;
	transition: width .2s;
}
.animate-height{
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    -ms-transition: height .2s;
    transition: height .2s;
}
.animate-bg{
	-webkit-transition: background .4s!important;
	-moz-transition: background .4s!important;
	-o-transition: background .4s!important;
	-ms-transition: background .4s!important;
	transition: background .4s!important;
}
.animate-top{
    -webkit-transition: top .6s;
    -moz-transition: top .6s;
    -o-transition: top .6s;
    -ms-transition: top .6s;
    transition: top .6s;
}
.animate-color{
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.clear{clear: both;}
.row{}
.table-container{display: table;width: 100%}
.row-container{display: table-row;}
.cell-container{display: table-cell;}

.container{
	margin: 0 auto;max-width: 960px;
	h1{font-size: 32px}
	strong{font-weight: bold;}
	.custom-button{
		background: #2D97EF;color: #000;display: block;padding: 6px 5px;margin: 0 auto;max-width: 120px;text-align: center;text-decoration: none;
		.animate-bg;
	}
	.custom-button:hover{background: #fff}
	.row + .row{margin-top: 20px}
}

#header{
	background: #C4C4C4;
	.menu{
		li{float: left;}
		li + li{margin-left: 5px}
		li{
			a{font-size: 18px;text-transform: uppercase;}
		}
	}
}

#home{
	.map{height: 400px}
	.total{margin: 15px 0;text-align: center;}
	.top-people{
		background: #C4C4C4;padding: 40px;
		.person{
			text-align: center;
			.person-content{
				background: #E7E7E7;padding: 20px;
				.money{font-size: 20px;}
			}
		}

	}
	.ranks{
		.col-md-6{
			.inner-content{background: #C4C4C4;padding: 20px}
			@media (min-width: 992px){
				padding-left: 0;
			}
		}
		.col-md-6 + .col-md-6{
			@media (min-width: 992px){
				padding-left: 15px;padding-right: 0;
			}
		}
	}
}
