<div id="funcionario">
	<div class="centered-content">
		<div class="container-fluid" ng-controller="statisticsCTL">
			<div class="row ranks">
				<div class="col-md-6 funcionario-info">
					<div class="inner-content">
						<img src="/images/funcionario-default.png" class="funcionario-icon" alt="">
						<h1>Diana Pérez Bautista</h1>
						<p><strong>Cargo: funcionario conciliador</strong></p>
						<p><strong>Dependencia: Junta federal #56</strong></p>
						<p class="money"><strong>$345,000 MXP</strong></p>
						<p><strong><small>Gastos al año en viajes</small></strong></p>
						<div class="share-links">
							<div class="row">
								<div class="col-sm-4"><a href="#" class="share-link fb">Compartir</a></div>
								<div class="col-sm-4"><a href="#" class="share-link tw">Compartir</a></div>
								<div class="col-sm-4"><a href="#" class="share-link sb">Compartir</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 top-places">
					<div class="inner-content">
						<h4><strong>Top 3 viajes mas costosos</strong><br/>realizados por este servidor publico</h4>
						<ul>
							<li>
								<a href="#"><img src="/images/hotel_foto.png" alt="" class="picture" /></a>
								<p class="big-blue">$35,000 MXP</p>
								<p class="location"><a href="#">Riviera Maya Cancún México</a></p>
								<p class="activity">Nombre del evento o actividad</p>
							</li>
							<li>
								<a href="#"><img src="/images/hotel_foto.png" alt="" class="picture" /></a>
								<p class="big-blue">$35,000 MXP</p>
								<p class="location"><a href="#">Riviera Maya Cancún México</a></p>
								<p class="activity">Nombre del evento o actividad</p>
							</li>
							<li>
								<a href="#"><img src="/images/hotel_foto.png" alt="" class="picture" /></a>
								<p class="big-blue">$35,000 MXP</p>
								<p class="location"><a href="#">Riviera Maya Cancún México</a></p>
								<p class="activity">Nombre del evento o actividad</p>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="row ranks">
				<div class="col-md-6 percentage-rank">
					<div class="inner-content">
						<h4><strong>Las principales aerolineas</strong><br/>usadas por los servidores publicos</h4>
						<div id="chart-aerolineas"><svg></svg></div>
						<p class="total">Total de aerolineas usadas: 2302</p>
					</div>
				</div>
				<div class="col-md-6 top-places">
					<carousel interval="5000">
						<slide  active="slide.active" >
							<div class="inner-content">
								<h4><strong>Ciudades Internacionales</strong><br/>mas visitadas por los servidores publicos</h4>
								<ul>
									<li>
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Miami</a></p>
										<p class="location"><a href="#">Estados unidos</a></p>
									</li>
									<li>
										<a href="#"><img src="/images/fotovegas.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Las Vegas</a></p>
										<p class="location"><a href="#">Estados unidos</a></p>
									</li>
									<li>
										<a href="#"><img src="/images/fotovegas.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Montreal</a></p>
										<p class="location"><a href="#">Canada</a></p>
									</li>
								</ul>
							</div>
						</slide>
						<slide active="" >
							<div class="inner-content">
								<h4><strong>Ciudades Nacionales</strong><br/>mas visitadas por los servidores publicos</h4>
								<ul>
									<li>
										<a href="#"><img src="/images/pinlugar.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Cancun</a></p>
										<p class="location"><a href="#">Mexico</a></p>
									</li>
									<li>
										<a href="#"><img src="/images/fotovegas.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Los cabos</a></p>
										<p class="location"><a href="#">Mexico</a></p>
									</li>
									<li>
										<a href="#"><img src="/images/fotovegas.png" alt="" class="picture" /></a>
										<p class="big-blue"><a href="#">Guadalajara</a></p>
										<p class="location"><a href="#">Mexico</a></p>
									</li>
								</ul>
							</div>
						</slide>
					</carousel>

				</div>

			</div>			
		</div>
	</div>
</div>

