<div id="list">
    <div class="centered-content">
    	<div class="results">
    		<h2><strong>Resultados de la busqueda: Juan Perez</strong></h2>
            <% for(i=0;i<3;i++){ %>
            <div class="row trip-item ranks ">
                <div class="col-sm-4 top-places">
                    <div class="inner-content">
                        <a href="#"><img src="/images/funcionario-default.png" alt="" class="picture" /></a>
                        <p class="big-blue"><a href="#">Maria Elena Perez-Jaen Zermeño</a></p>
                        <p class="location"><strong>Cargo: </strong> Conciliador</p>
                        <p class="location"><strong>Dependencia: </strong> Junta federal de conciliacion</p>

                    </div>
                </div>
                <div class="col-sm-4 second">
                    <div class="inner-content">
                        <p><strong>Gasto al año en viajes:</strong></p>
                        <p>$39,276.00</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="inner-content"><a href="#" class="custom-button">Ver perfil</a></div>
                </div>
            </div>
            <% } %>
    	</div>
    </div>
</div>